<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfThriftPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Simple Symfony Thrift Plugin</summary>
  <description>A simple Apache Thrift plugin. Base for other Thrift plugins.</description>
  <lead>
    <name>Tomasz Jakub Rup</name>
    <user>tomi</user>
    <email>tomasz.rup@gmail.com</email>
    <active>yes</active>
  </lead>
  <developer>
   <name>Arkadiusz Tułodziecki</name>
   <user>ldath</user>
   <email>atulodzi@gmail.com</email>
   <active>yes</active>
  </developer>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>1.1.0</release>
    <api>1.1.0</api>
  </version>
  <stability>
    <release>stable</release>
    <api>stable</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>
    * Add factory class fot making a TProtocol object from config
  </notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.4.0</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <date>2010-10-28</date>
      <version>
        <release>##PLUGIN_VERSION##</release>
        <api>1.0.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <notes>
        * Creating a better file structure
        * Mark plugin as a stable
      </notes>
    </release>
    <release>
      <version>
        <release>0.1.894183</release>
        <api>0.1.0</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2010-06-17</date>
      <notes>
         * ldath: Initial version
      </notes>
    </release>
  </changelog>
</package>
